.Home .title {
    font-size: 2em;
    color: rgb(46, 46, 46);
    line-height: 0.5; /* Define a altura da linha como 1 para reduzir o espaçamento */
}

.Home .description {
    font-size: 3em;
    color: black;
}

.Home .description2 {
    font-size: 1.5em;
    color: rgb(99, 99, 99);
    line-height: 1;
}


.sobreMimCurriculo {
    .aboutme {
        padding-inline: 1em;
        text-align: start;
        max-width: 60em;
        min-width: 18em;
        background-color: rgb(243, 243, 243);
        border-radius: 10px;
        font-size: 1.5em;
    }

    .card {
        background-color: #00758f;
        border: none;
        align-items: center;
        justify-content: center;
        height: 220px;
        min-width: 18em;
        max-width: 25em;

        h1 {
            font-size: 2em;
            color: #ffff;
        }

        h2 {
            font-size: 1.5em;
            color: #ffff;
        }
    }

    .link-container {
        width: 11em;
    }

    .link-unstyled {
        text-decoration: none !important;
        color: inherit !important;
    }
    .link-unstyled h1 {
        transition: color 0.3s ease; /* Adiciona a transição suave */
        width: 5em;
    }

    .link-unstyled h1:hover {
        color: #00758f;
    }
}


.irpara {
    
    span{
        color: rgb(135, 135, 135);
    }
    .btn:link,
    .btn:visited {
        background-color: rgb(76, 76, 76);
        width: min;
        padding: 10px 10px;
        margin: 20px;
        border-radius: 20px;
        transition: all .5s;
        overflow: hidden;
    }
    .btn:hover {
        background-color: rgba(208, 208, 208, 0.541);
          transform: translateY(-3px);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
      }

  }


/* Media query para telas médias */
@media (max-width: 1268px) {
    .Home .title {
        font-size: 2em; /* Reduzindo o tamanho da fonte para telas médias */
    }

    .Home .description {
        font-size: 3em; /* Reduzindo o tamanho da fonte para telas médias */
    }

    .Home .description2 {
        font-size: 1.5em; /* Reduzindo o tamanho da fonte para telas médias */
    }
}

  /* Media query para telas médias */
@media (min-width: 1800px) {
    .sobreMimCurriculo {
        padding-inline: 10em;
    }
}

/* Media query para telas médias */
@media (max-width: 768px) {
    .Home .title {
        font-size: 2em; /* Reduzindo o tamanho da fonte para telas médias */
    }

    .Home .description {
        font-size: 3em; /* Reduzindo o tamanho da fonte para telas médias */
    }

    .Home .description2 {
        font-size: 1.5em; /* Reduzindo o tamanho da fonte para telas médias */
    }
    .sobreMimCurriculo {
        .aboutme {
            font-size: 1em;
        }}
}

/* Media query para telas pequenas */
@media (max-width: 876px) {
    .Home .title {
        font-size: 1.5em; /* Reduzindo ainda mais o tamanho da fonte para telas pequenas */
    }

    .Home .description {
        font-size: 2em; /* Reduzindo ainda mais o tamanho da fonte para telas pequenas */
    }

    .Home .description2 {
        font-size: 1em; /* Reduzindo ainda mais o tamanho da fonte para telas pequenas */
    }
}

