.Home .title {
    font-size: 2em;
    color: rgb(46, 46, 46);
    line-height: 0.5; /* Define a altura da linha como 1 para reduzir o espaçamento */
}

.Home .description {
    font-size: 3em;
    color: black;
}

.Home .description2 {
    font-size: 1.5em;
    color: rgb(99, 99, 99);
    line-height: 1;
}


/* Media query para telas médias */
@media (max-width: 1268px) {
    .Home .title {
        font-size: 2em; /* Reduzindo o tamanho da fonte para telas médias */
    }

    .Home .description {
        font-size: 3em; /* Reduzindo o tamanho da fonte para telas médias */
    }

    .Home .description2 {
        font-size: 1.5em; /* Reduzindo o tamanho da fonte para telas médias */
    }
}




/* Media query para telas médias */
@media (max-width: 768px) {
    .Home .title {
        font-size: 2em; /* Reduzindo o tamanho da fonte para telas médias */
    }

    .Home .description {
        font-size: 3em; /* Reduzindo o tamanho da fonte para telas médias */
    }

    .Home .description2 {
        font-size: 1.5em; /* Reduzindo o tamanho da fonte para telas médias */
    }
}

/* Media query para telas pequenas */
@media (max-width: 876px) {
    .Home .title {
        font-size: 1.5em; /* Reduzindo ainda mais o tamanho da fonte para telas pequenas */
    }

    .Home .description {
        font-size: 2em; /* Reduzindo ainda mais o tamanho da fonte para telas pequenas */
    }

    .Home .description2 {
        font-size: 1em; /* Reduzindo ainda mais o tamanho da fonte para telas pequenas */
    }
}



.btn:link,
.btn:visited {
    padding: 15px 40px;
    border-radius: 100px;
    transition: all .5s;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
    font-size: 1.5em;
    background-color: #2c2c2c;
    color: #ffffff;
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .6s;
}

.btn-white::after {
    background-color: #2c2c2c;
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}
