.Dados-dos-Registros{
    background-color: rgba(0, 255, 8, 0.088);
    border-radius: 1em;
    padding: 20px;
    margin-bottom: 5em;
}

.Locais-Mais-Acessados{
    background-color: rgba(0, 255, 8, 0.088);
    border-radius: 1em;
    padding: 20px;
    margin-bottom: 5em;
}
.mapacomicon{
    border-radius: 5px;
    overflow: hidden;
}