
.list-publication{
    background-color: rgb(245, 245, 245);
    padding-top: 2em;
    padding-inline: 2em;
    border-radius: 10px;
    .cards{    
        min-width: 20em;
        max-width: 15em;
    }
}


