:root{
    background-color: rgb(255, 255, 255);
}
.App{
  background-color: rgb(255, 255, 255);
}

///Transition






//Especiais
.lisboa:hover{
  color: rgb(15, 68, 0);
}
//
.technology {background-color: #ffffff;}
.html {background-color: #ff825f;}
.css {background-color: #745fff;}
.node {background-color: #00c51a;}
.openai {background-color: #dc5fff;}
.javascript {background-color: #bfd800;}
.react { background-color: #61dafb; }
.next { background-color: #000; }
.bootstrap { background-color: #7952b3; }
.jscript { background-color: #f0db4f; }
.tscript { background-color: #007acc; }
.python-web { background-color: #306998; }
.python { background-color: #306998; }
.turtle { background-color: #a40e0e; }
.opengl { background-color: #1949b0; }
.algoritmos { background-color: #a8b9cc; }
.java  { background-color: #b07219; }
.git-github { background-color: #f05032; }
.oracle  { background-color: #f80000; }
.postgre  { background-color: #336791; }
.sql { background-color: #00758f; }
.mongodb { background-color: #47a248; }
.scrum { background-color: #5a9; }
.figma { background-color: #f24e1e; }


// Cor do texto
.green {
  color: rgb(0, 136, 0);
}

.red {
  color: red;
}

.gray {
  color: gray;
}

.blue {
  color: #0c64c4;
}

.orange {
  color: orange;
}

.purple {
  color: purple;
}

.black {
  color: black;
}

/* Cores para hover */
.redH:hover {
  color: red;
}
.blackH:hover {
  color: black;
}
.blueH:hover {
  color: rgb(0, 0, 255);
}
.greenH:hover {
  color: green;
}
.orangeH:hover {
  color: orange;
}
.purpleH:hover {
  color: purple;
}
.yellowH:hover {
  color: yellow;
}
.pinkH:hover {
  color: pink;
}
.brownH:hover {
  color: brown;
}
.grayH:hover {
  color: rgb(92, 92, 92);
}
.cyanH:hover {
  color: cyan;
}
.magentaH:hover {
  color: magenta;
}
.tealH:hover {
  color: teal;
}
.indigoH:hover {
  color: indigo;
}
.violetH:hover {
  color: violet;
}
.blackshadowH:hover {
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}


//Button padroao


.btn:link,
.btn:visited {
    padding: 15px 40px;
    border-radius: 20px;
    transition: all .5s;
}

.btn:hover {
  background-color: #ffffff;
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
    font-size: 1.5em;
    background-color: #1f1f1f;
    color: #ffffff;
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 20px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .6s;
}

.sombra .btn-white::after {
    background-color: #000000;
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}
