:root{
    background-color: rgb(255, 255, 255);
}
.App{
  background-color: rgb(255, 255, 255);
}
//Especiais
.lisboa:hover{
  color: rgb(15, 68, 0);
}




// Cor do texto
.green {
  color: rgb(0, 136, 0);
}

.red {
  color: red;
}

.gray {
  color: gray;
}

.blue {
  color: blue;
}

.orange {
  color: orange;
}

.purple {
  color: purple;
}

.black {
  color: black;
}

/* Cores para hover */
.redH:hover {
  color: red;
}
.blackH:hover {
  color: black;
}
.blueH:hover {
  color: blue;
}
.greenH:hover {
  color: green;
}
.orangeH:hover {
  color: orange;
}
.purpleH:hover {
  color: purple;
}
.yellowH:hover {
  color: yellow;
}
.pinkH:hover {
  color: pink;
}
.brownH:hover {
  color: brown;
}
.grayH:hover {
  color: rgb(92, 92, 92);
}
.cyanH:hover {
  color: cyan;
}
.magentaH:hover {
  color: magenta;
}
.tealH:hover {
  color: teal;
}
.indigoH:hover {
  color: indigo;
}
.violetH:hover {
  color: violet;
}
.blackshadowH:hover {
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}