:root{
    background-color: rgb(255, 255, 255);
}
.App{
  background-color: rgb(255, 255, 255);
}
//Especiais
.lisboa:hover{
  color: rgb(15, 68, 0);
}




// Cor do texto
.green {
  color: rgb(0, 136, 0);
}

.red {
  color: red;
}

.gray {
  color: gray;
}

.blue {
  color: #0c64c4;
}

.orange {
  color: orange;
}

.purple {
  color: purple;
}

.black {
  color: black;
}

/* Cores para hover */
.redH:hover {
  color: red;
}
.blackH:hover {
  color: black;
}
.blueH:hover {
  color: rgb(0, 0, 255);
}
.greenH:hover {
  color: green;
}
.orangeH:hover {
  color: orange;
}
.purpleH:hover {
  color: purple;
}
.yellowH:hover {
  color: yellow;
}
.pinkH:hover {
  color: pink;
}
.brownH:hover {
  color: brown;
}
.grayH:hover {
  color: rgb(92, 92, 92);
}
.cyanH:hover {
  color: cyan;
}
.magentaH:hover {
  color: magenta;
}
.tealH:hover {
  color: teal;
}
.indigoH:hover {
  color: indigo;
}
.violetH:hover {
  color: violet;
}
.blackshadowH:hover {
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}


//Button padroao


.btn:link,
.btn:visited {
    padding: 15px 40px;
    border-radius: 20px;
    transition: all .5s;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
    font-size: 1.5em;
    background-color: #1f1f1f;
    color: #ffffff;
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 20px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .6s;
}

.btn-white::after {
    background-color: #2c2c2c;
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}
