.nav-menu {
    margin-top: -5px;
    position: relative;
    z-index: 2;
    
    .nav-menu-btn {
      color: #1c1c1c;
      border: 2px solid #dbf8ff;
      display: flex;
      align-items: center;
      background: none;
      border: none;
      cursor: pointer;
      font-size: 1.1em;
      min-width: 120px; /* Tamanho fixo do botão */
      overflow: hidden; /* Ocultar texto excedente */
      text-overflow: ellipsis; /* Adicionar reticências ao texto excedente */
      white-space: nowrap; /* Impedir quebra de linha */
      transition: transform 0.1s ease-in-out; /* Adiciona uma transição suave */
      

      .menu-open, .menu-close {
        display: flex;
        align-items: center;
        background-color: #f2f2f2;
        padding-inline: 10px;
        padding-block:10px;
        border-radius: 10px;
        min-width: 100px;
        
        h1 {
          margin: 0;
          font-size: 1em;
        }
      }
    }
    .nav-menu-btn:hover{
      transform: scale(1.1);
      .menu-open, .menu-close {
        background-color: #eaeaea;
      }
    }

    .background-linear-gradient {
      position: absolute;
      top: 130%;
      left: -20%;
      right: 0;
      background: linear-gradient(45deg, #ffffff, hsl(330, 100%, 100%));
      padding: 0px 0;
      border-radius: 5px;
      
      .nav-menu-content {
        list-style: none;
        margin: 0;
        padding: 0;
        align-items: center;
  
        .nav-menu-content-item {
          margin: 10px 20px;
          display: flex;
          align-items: center;
  
          a {
            color: #0d0c0c;
            text-decoration: none;
            font-size: 1.2em;
            transition: color 0.3s;
            display: flex;
            align-items: center;
  
            i {
              margin-right: 10px; /* Espaço entre o ícone e o texto */
            }
          }
        }
      }
    }
  }


  .menuIsOpen{
    width: 150px;
  }
  
  @media (max-width: 768px) {
    .nav-menu {
      .background-linear-gradient {
        padding: 20px 0;
  
        .nav-menu-content {
          .nav-menu-content-item {
            a {
              font-size: 1em;
            }
          }
        }
      }
    }
  }
  
  @media (max-width: 480px) {
    .nav-menu {
      .nav-menu-btn {
        font-size: 1.2em;
      }
  
      .background-linear-gradient {
        padding: 15px 0;
  
        .nav-menu-content {
          .nav-menu-content-item {
            a {
              font-size: 0.9em;
            }
          }
        }
      }
    }
  }
  