.publicDoc textarea {
    width: 100%; /* Ensure textareas take full width */
    max-width: 50em; /* Set a maximum width for larger screens */

  }

.publicDoc  .text-center {
    display: flex;
    justify-content: center;
    gap: 10px; /* Add some space between buttons */
  }
  

  .button button{
    width: 10em;
    font-size: 2em;
    margin-top: 1em;
    margin-bottom: 1em; 
}