.nav-menu {
    scale: 0.7;
    position: relative;
    z-index: 10;

    .nav-menu-btn {
        border: none;
        background-color: #e4cfcf; /* Substitua pelas cores desejadas */
        border-radius: 5px; /* Substitua pelos valores desejados */
        font-size: 16px; /* Substitua pelos valores desejados */
        user-select: none;
        transition: all 0.2s ease;
        color: #000; /* Substitua pela cor desejada */
        
        &:hover {
            background-color: #ffffff; /* Substitua pela cor desejada */
            transform: scale(1.05);
        }
  
        &:active {
            transform: scale(0.9);
        }

        .menu-open,
        .menu-close {
            display: flex;
            align-items: center;
            justify-content: center;

        }
    }

    .backgroud-linear-gradient {
        position: absolute;
        transition: all 0.3s ease;
        top: 6rem;
        right: 0.1rem;

        &::before {
            content: '';
            position: absolute;
            top: -1px;
            left: -1px;
            right: -1px;
            bottom: -1px;
            z-index: -1;
            background: linear-gradient(45deg, rgba(255,0,0,0.8) 0%, rgba(255,255,0,0.8) 50%, rgba(0,255,0,0.8) 100%); /* Substitua pelas cores desejadas */
            filter: blur(10px); /* Substitua pelo valor de desfoque desejado */
            opacity: 0.2; /* Substitua pela opacidade desejada */
        }

        ul {
            position: relative;
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            user-select: none;
            background-color: #fff; /* Substitua pela cor desejada */

            li {
                display: flex;
                width: 100%;
                position: relative;
                background-color: transparent;

                a {
                    align-self: flex-start;
                    display: flex;
                    text-decoration: none;
                    width: 100%;
                    padding: 1.5rem 7em 1.5rem 2rem; /* Substitua pelos valores desejados */
                    list-style: none;
                    color: #000; /* Substitua pela cor desejada */
                    background-color: transparent;
                    border-radius: 5px; /* Substitua pelo valor de borda desejado */
                }
             
                &:hover {
                    background-color: #f0f0f0; /* Substitua pela cor desejada */
                }   
            }
        }
    }
}

.menu-enter-active,
.menu-leave-active {
    transition: all 0.4s ease;
}

.menu-enter-from,
.menu-leave-to {
    transform: translateY(-2rem);
    opacity: 0;
}
