.language-switcher-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px; /* Adjust based on your layout */
    height: 40px;
  }
  
  .language-switcher {
    display: flex;
    align-items: center;
    cursor: pointer;
    z-index: 2; /* Ensure it's above the options */
  }
  
  .language-switcher .main-image {
    width: 35px;
    height: 35px;
    border-radius: 20%;
  }
  
  .language-options {
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
    width: 20px; /* Decreased width */
    transition: transform 0.3s ease, opacity 0.3s ease, filter 0.3s ease; /* Smooth transition */
    z-index: 1;
    opacity: 0.9; /* Adjust opacity to make it semi-transparent */
  }
  
  .language-options .languageBox {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease, filter 0.3s ease, opacity 0.3s ease; /* Smooth transition */
  }
  
  .language-options .languageBox .hover-image {
    width: 25px;
    height: 25px;
    border-radius: 50%;
  }
  
  .language-options.show .languageBox:nth-child(1) {
    transform: translateX(-20px); /* Adjusted translation */
  }
  
  .language-options.show .languageBox:nth-child(2) {
    transform: translateX(20px); /* Adjusted translation */
  }
  