.language-switcher {
    display: inline-block;
    position: relative;
  
    span {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px; // Tamanho do círculo
      height: 40px; // Tamanho do círculo
      border-radius: 50%; // Forma de círculo
      overflow: hidden;
      cursor: pointer;
      transition: background-color 0.3s ease;
  
      &:hover {
        background-color: #f0f0f0; // Cor de fundo ao passar o mouse
      }
  
    }
    img {
        width: 30px; // Ocupar todo o espaço do círculo
        height: 30px; // Ocupar todo o espaço do círculo
      }  

    .language-options {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 80px; // Largura total das opções de idioma
  
      span {
        cursor: pointer;
  
        img {
          width: 20px; // Tamanho da bandeira
          height: 20px; // Tamanho da bandeira
        }
      }
    }
  }
  