.marquee-container {
    position: relative;
    width: 400px; /* Largura do letreiro */
    height: 35px; /* Altura do letreiro */
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #ececec; /* Cor de fundo */
    border-radius: 50px;
    border: 1px solid transparent; /* Inicialmente sem borda */
    transition: border 0.2s ease, transform 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55); /* Transição suave */
  }
  
  .marquee-container:hover {
    transform: scale(1.02); /* Aumentar para 120% ao passar o mouse */
    border: 0.5px solid #000; /* Adiciona borda preta ao passar o mouse */
  }
  
  .marquee-content {
    white-space: pre; 
    font-size: 1.3em;
    animation: marquee 4s linear infinite;
  }

  
  @keyframes marquee {
    0% {
      transform: translateX(0); /* Inicia a animação com o texto no início do letreiro */
    }
    100% {
      transform: translateX(-50%); /* Move o texto para a esquerda */
    }
  }
  