.me .container {
    .row {
        margin-bottom: 8em;
        .col-md-10 {
            display: flex;
            flex-direction: row;

            .left-column {
                flex: 1;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding-right: 2rem;

                .photo {
                    margin-bottom: 1rem;
                    text-align: center;
                    justify-content: center;
                    align-items: center;
                    padding-left: auto;
    
                    .profile-photo {
                        overflow: hidden;
                        width: 250px;
                        height: 250px;
                        border-radius: 50%;
                        object-fit: cover;
                        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                        border: 3px solid #fff;
                    }
                }


            }

            .right-column {
                flex: 2;
                .hi{
                    h1{
                    font-size: 3em;
                    }
                }

                .about {
                    margin-bottom: 2rem;

                    .about1, .about2 {
                        margin-bottom: 1.5rem;
                        font-size: 1.1em;
                    }
                }

                .experience {
                    background-color: #f3f3f3b3;
                    border-radius: 10px;
                    padding: 1em;
                    h2 {
                        margin-bottom: 1rem;
                    }

                    p {
                        margin-bottom: 0.5rem;
                    }
                }
            }
        }
    }
}

.technologies-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .technology {
        margin: 0.5rem;
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
        font-weight: bold;
        color: #fff;
    }



}

.right-column .card{
    background-color: #00758f;
    align-items: center;
    justify-content: center;
    height: 220px;
    width: 18em;
    h1{
        font-size: 2em;
        color: #ffff;
    }
    h2{
        font-size: 1.5em;
        color: #ffff;
    }
}



/* Media query para telas médias */
@media (max-width: 1400px) {
    .experience {
        width: 19em; /* Reduzindo o tamanho da fonte para telas médias */
        margin-right: -40px;
        padding: 3em;
    }
}

@media (max-width: 1200px) {
    .right-column .card{
        transform: scale(0.8);
        margin-inline: -50px;
    }
    .experience {
        margin-top: -6px;
        transform: scale(0.8);
        margin-inline: -30px;
    }
}

@media (max-width: 1000px) {
    .right-column .card{
        transform: scale(0.8);
        margin-inline: -50px;
    }
    .experience {
        margin-top: -6px;
        transform: scale(0.8);
        margin-inline: -30px;
    }
}

@media (max-width: 500px) {
    .right-column .card{
        transform: scale(1);
        margin-inline: 0px;
        margin: auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .experience {
        transform: scale(1);
        margin-inline: 0px;
        margin: auto;
    }

}